#title1{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(153, 14, 14 );
}
.table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    color: rgb(125, 200, 97);
}
#container{
    width: 800px;
    height: 850px;
    background-color: rgb(10, 4, 27);
    margin-left: 20px;
    margin-right: auto;

}